{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}

{% for post in posts %}

<article>
 <header> <a href="{{ path('app_games_post', {'id': post.id}) }}">{{ post.titre}}</a>  </header>
  {{ post.content}}
  <footer>Footer</footer>
</article>
  
{% endfor %}
 
{% endblock %}
