{% extends 'base.html.twig' %}

{% block title %}Hello GamesController!{% endblock %}

{% block body %}

<article>
  <header> {{post.titre}} </header>
  {{post.content}}
  <footer>Footer</footer>
</article>
{% endblock %}
